*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.mainbg{
    background-color: #23252C;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* spacing */
}

.maincontent{
    background-color: #1A1B21;
    width: 317px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
}

.heroimg{
    width: 100%;
    margin-bottom: 20px;
}

.herotitle{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.herodesc{
    font-size: 12.8px;
    color: #F3BF99;
    font-family: Arial, sans-serif;
    margin: -10px 10px 10px 10px;
}

.btndiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.buttonn{
    background-color: #ffffff;
    color: #1E1F26;
    border: none;
    width: 115px;
    padding: 6px 15px;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aboutsec{
    padding: 25px;
    display: flex;
    flex-direction: column; 
     
}

.abouttitle{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.para {
    font-size: 10.24px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.footer{
    background-color: #161619;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}